body {
    font-family: sans-serif;
    background-color: #edf7fc; 
    color: black;        /*year color*/
    /* background-image: url('night1.jpg'); */
    background-size: cover;
    background-position: center;
    /* Add blur effect */
    /* filter: blur(2px); */
    /* Add fixed position to prevent background from moving */
  
}

.entry-form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: #edf7fc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-content {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #0066cc;
}

.form-text,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0066cc;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #004080;
}

textarea {
    resize: vertical;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
}

.custom-navbar {
    background-color: #27374d; /* Your custom color */
  }
  .navbar-nav .nav-link{
    color: white !important; /* Set text color to white */
  }
  .nav-title{
    color: white !important; /* Set text color to white */
  }
  .navbar-brand img {
    background-color: white;
    border-radius: 50% ;
    padding: 2px;
  }
  
  .container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
  }

  .container2{
    display: flex;
    align-items: center;
  }

  .centered-div2 {
    padding: 0.5%;
   
    /* Add styling for your centered div here */
  }

  .centered-div{
    width: 600px;
  }
 

 /* Table Styles */
.table {
  width: 100%;
  /* border-collapse: separate; */
  border-spacing: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;

}

.table th,
.table td {
  padding: 12px 15px;
  text-align: left;
  border-top: none; /* Remove top border */
  border-right: none; /* Remove right border */
  border-left: none; /* Remove left border */
}

.table th {
  background-color:#0a5095;
  /* font-weight: bold; */
  color: #fff;

}

.table td {
  /* border-right: 1px solid #080505;  */
  border-bottom: 1px solid #080505; 
  border-left: 1px solid #080505; 
  background-color: white; /*table backbround color*/
 
}
.table td:last-child {
  border-right: 1px solid #080505; 
}
.table th {
  border-right: 1px solid #fcf8f8; 
  
}

.table tr:last-child {
  border-bottom: none; 
}

.table tr:hover {
  background-color: #61c9e1;

}

.table td {
  vertical-align: middle;
}

.body .text-center {
  text-align: center;
 
}

.table .font-weight-bold {
  font-weight: bold;
  color: white;
}

.table-container {
  margin-top: 6px;
  overflow-x: auto;
}   
